<div>

    <style>

        .grab { cursor: url(/static/styles/cursors/openhand.cur) 8 8, move; }

        #dcumap_canvas img {
            max-width: none;
        }

        .dcumap ul {
            -moz-column-count: 3; /* Firefox */
            -webkit-column-count: 3; /* Safari and Chrome */
            column-count: 3;
        }

    </style>

    <div id="dcumap_canvas" ui-map="dcumapping"
         style="height:99vh;width:100%;border: none"
         ui-options="mapOptions"
         ui-event="{'map-idle' : 'onMapIdle()'}"/>

</div>



