<style>

    .table-layout {
        display:table;
        width:100%;
        height: 99%;
    }
    .table-layout .table-cell {
        display:table-cell;
        border:solid 1px #ccc;
        vertical-align: top;
    }

    .fixed-width-400 {
        width:100px;
    }

    .fixed-width-400>.BigMapholder {
        position: absolute;
        overflow: hidden;
        width: 500px;
        height: 99%;
        background: white;
    }

    .grab { cursor: url(/static/styles/cursors/openhand.cur) 8 8, move; }

    .SvgOverlay {
        position: absolute;
        width: 700px;
        height: 700px;
    }

    .SvgOverlay svg {
        position: absolute;
        top: -4000px;
        left: -4000px;
        width: 8000px;
        height: 8000px;
    }

    #dcumap_canvas img {
        max-width: none;
    }

    .container {width : 100%; padding : 0; background : white}


    path {
        fill: none;
        stroke: #000;
        stroke-width: 10px;
    }

</style>

<div class="table-layout" >

    <div class="table-cell fixed-width-400" >
        <div class="BigMapholder">
            <div>
                <div style="width:100px" ng-controller="PictureOnMapController">
                    {{picture}}
                    <img  ng-if="picture.width >= picture.height" ng-repeat="picture in picturesOnMap.photos" src="{{picture.photo_file_url}}">
                </div>

            </div>
        </div>

    </div>

    <div class="table-cell">
        <mainmap route marker photo></mainmap>
    </div>

</div>